<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Auteur</title>
</head>
<body>

<h2>Ajouter un Auteur</h2>

<form th:action="@{/authors/add}" th:object="${author}" method="post">

    <label for="firstName">Prénom :</label>
    <input type="text" id="firstName" th:field="*{firstName}" required />

    <label for="lastName">Nom de famille :</label>
    <input type="text" id="lastName" th:field="*{lastName}" required />

    <button type="submit">Ajouter</button>
</form>

</body>
</html>
