<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}" />
</head>
<body>

    <header>
        <button class="redirect" onclick="window.location.href='/home'">Home</button>
        <div>
            <button class="redirect" onclick="window.location.href='/users'">Users</button>
            <button class="redirect" onclick="window.location.href='/events'">Events</button>
        </div>
        <div th:if="${user}" id="userAuthenticated">
            <a class="redirect" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.firstName} + ' ' + ${user.lastName}"></a>
            <button class="redirect" onclick="window.location.href='/logout'">Logout</button>
        </div>
        <div th:unless="${user}" id="userNotAuthenticated">
            <button class="redirect" onclick="window.location.href='/home/signUp'">Inscription</button>
            <button class="redirect" onclick="window.location.href='/home/signIn'">Connexion</button>
        </div>
    </header>

    <div class="event-container">
        <h1>Évènements</h1>
        <div>
            <button class="btn-form" onclick="window.location.href='/events/add'">Ajouter un évènement</button></div>
        <div class="event-cards">
            <div th:each="event : ${events}" class="event-card">
                <a th:href="@{/events/{id}(id=${event.id})}">
                    <div class="card">
                        <div class="card-title" th:text="${event.title}"></div>
                        <div class="card-description" th:text="${event.description}"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>