.myEvent-container, .info-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.invite-container, .inscr-container{

    margin-top: 50px;

}